<header id="header">
  <a class="u-url u-uid" href="<%- url_for("/") %>">
    <!-- <% if (theme.logo && theme.logo.enabled) { %>
      <img id="logo" alt class="u-logo" src="<%- url_for(theme.logo.url) %>" />
    <% } %> -->
    <div id="title">
      <h1 class="p-name title"><%= config.title %></h1>
    </div>
  </a>
  <div id="nav">
    <ul>
      <% for (var field in theme.nav) { -%>
        <li><a href="<%- url_for(theme.nav[field]) %>"><%= __('nav.'+field).replace("nav.", "") %></a></li>
      <% } -%>
    </ul>
  </div>
</header>